url: 'http://localhost:9999'
id: '{{ irc_id }}'
as_token: '{{ irc_as_token }}'
hs_token: '{{ irc_hs_token }}'
protocols:
  - 'irc'
rate_limited: false
sender_localpart: 'appservice-irc'
namespaces:
  users:
    - exclusive: true
      regex: "@irc.*"
  aliases:
    - exclusive: true
      regex: "@irc.*"
  rooms:
    - exclusive: true
      regex: "@irc.*"
