server_name: "{{ server_name }}"
pid_file: "{{ conf_dir }}/homeserver.pid"
public_baseurl: "{{ public_baseurl }}"
use_presence: "{{ use_presence }}"
require_auth_for_profile_requests: "{{ require_auth_for_profile_requests }}"
allow_public_rooms_without_auth: "{{ allow_public_rooms_without_auth }}"
allow_public_rooms_over_federation: "{{ allow_public_rooms_over_federation }}"
default_room_version: "{{ default_room_version }}"
block_non_admin_invites: "{{ block_non_admin_invites }}"
enable_search: "{{ enable_search }}"
{%- if federation_domain_whitelist %}
federation_domain_whitelist:
{%- for domain in federation_domain_whitelist %}
  - {{ domain }} 
{% endfor %}
{% endif %}
federation_ip_range_blacklist:
  - '127.0.0.0/8'
  - '10.0.0.0/8'
  - '172.16.0.0/12'
  - '192.168.0.0/16'
  - '100.64.0.0/10'
  - '169.254.0.0/16'
  - '::1/128'
  - 'fe80::/64'
  - 'fc00::/7'
{% if federation_ip_range_blacklist %}
{%- for ip_range in federation_ip_range_blacklist %}
  - {{ ip_range }} 
{% endfor -%}
{% endif %}
listeners:
  - port: 8008
    tls: false
    type: http
    x_forwarded: true
    resources:
      - names: [client, federation]
        compress: false
{% if pgsql_configured %}
database:
  name: "psycopg2"
  args:
    user: {{ pgsql_user }}
    password: {{ pgsql_pass }}
    database: {{ pgsql_db }}
    host: {{ pgsql_host }}
    cp_min: 5
    cp_max: 10
{% else %}
database:
  name: "sqlite3"
  args:
    database: "{{ conf_dir }}/homeserver.db"
{% endif %}
log_config: "{{ conf_dir }}/{{ server_name }}.log.config"
media_store_path: "{{ conf_dir }}/media_store"
uploads_path: "{{ conf_dir }}/uploads"
enable_registration: {{ enable_registration }}
report_stats: {{ report_stats }}
signing_key_path: "{{ signing_key }}"
trusted_key_servers:
  - server_name: "matrix.org"
user_directory:
  enabled: {{ enable_user_directory }}
  search_all_users: false
enable_room_list_search: "{{ enable_room_list_search }}"
