homeserver:
  url: "http://localhost:8008"
  media-url: "{{ irc_media_url }}"
  domain: "{{ irc_domain }}"
  enablePresence: {{ irc_enable_presence }}

ircService:
  servers:
  {% for network in irc_networks %}
    {{ network["host"] }}:
      name: "{{ network["name"] }}"
      {% if network["port"] -%}
      port: {{ network["port"] }}
      {%- endif %}
      {% if network["ssl"] -%}
      ssl: {{ network["ssl"] }}
      {%- endif %}
      {% if network["sasl"] -%}
      sasl: {{ network["sasl"] }}
      {%- endif %}
      {% if network["pass"] -%}
      password: "{{ network["pass"] }}"
      {%- endif %}
      quitDebounce:
        enabled: false
        quitsPerSecond: 5
        delayMinMs: 3600000 # 1h
        delayMaxMs: 7200000 # 2h

      modePowerMap:
        o: 50
        v: 1

      botConfig:
        enabled: {{ network["bot"] }}
        {% if network["bot"] %}
	{% if network["bot_nick"] %}
        nick: "{{ network["bot_nick"] }}" 
	{% endif %}
	{% if network["bot_pass"] %}
        password: "{{ network["bot_pass"] }}"
	{% endif %}
        joinChannelsIfNoUsers: true
	{% endif %}
      

      privateMessages:
        enabled: true
        federate: true

      dynamicChannels:
        enabled: true
        createAlias: true
        published: true
        joinRule: public
        groupId: +{{ network["name"]}}:{{ irc_domain }}
        {% if network["federate"] %}
        federate: "{{ network["federate"] }}"
	{% endif %}
        aliasTemplate: "#irc_$SERVER_$CHANNEL"

      membershipLists:
        enabled: false
        floodDelayMs: 10000

        global:
          ircToMatrix:
            initial: false
            incremental: false

          matrixToIrc:
            initial: false
            incremental: false

      matrixClients:
        userTemplate: "@$SERVER_$NICK"
        displayName: "$NICK (IRC - $SERVER)"
        joinAttempts: -1

      ircClients:
        nickTemplate: "{{ irc_nick_template }}"
        allowNickChanges: true 
        maxClients: 30
        ipv6:
          only: false

        idleTimeout: 10800
        reconnectIntervalMs: 5000
        concurrentReconnectLimit: 50
        lineLimit: 3
{%- endfor %}

  ident:
    enabled: false
    port: 1113
    address: "::"

  logging:
    level: "debug"
    toConsole: true
    maxFiles: 5

  metrics:
    enabled: true
    remoteUserAgeBuckets:
      - "1h"
      - "1d"
      - "1w"

  debugApi:
    enabled: false
    port: 11100

  provisioning:
    enabled: false

  # To generate a .pem file:
  # $ openssl genpkey -out passkey.pem -outform PEM -algorithm RSA -pkeyopt rsa_keygen_bits:2048
  passwordEncryptionKeyPath: "{{ key_path }}"

  matrixHandler:
    eventCacheSize: 4096

  ircHandler:
    leaveConcurrency: 10
    mapIrcMentionsToMatrix: "on" # This can be "on", "off", "force-off".

advanced:
  maxHttpSockets: 1000

database:
  engine: "postgres"
  connectionString: "postgres://{{ pgsql_user }}:{{ pgsql_pass }}@{{ pgsql_host }}:{{ pgsql_port }}/{{ pgsql_db }}"


